Workspace.xcworkspace
.package.resolved

Projects/Data/Derived
Projects/Data/build

Projects/Domain/Derived
Projects/Domain/build

Projects/ShiftTest/Derived
Projects/ShiftTest/build

Projects/Presentation/Derived
Projects/Presentation/build

Projects/DataSources/Derived
Projects/DataSources/build

Projects/Networking/Derived
Projects/Networking/build